body {
  margin: 0;
  padding: 0;
  font-family: 'Silkscreen', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#phaser-container {
  canvas {
    display: block;
  }
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 5px;
  grid-auto-rows: 160px;
  position: absolute;
  top: 35px;
  right: 10px;
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

.video-grid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 1px groove rgb(229, 251, 255);
}

.button-grid {
  width: 160px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 5px;
  right: 10px;
}

* {
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #eee;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(#333, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-corner {
    background: rgba(#333, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    transition: background 0.1s;
    background: rgba(#eee, 0.8);
    border-radius: 3px;
  }
}


.writeForm {
  position: relative;
  margin-top: 30px;
}

.writeFormGroup {
  margin-left: 150px;

  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
  background: none;
  color:white;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {

  font-family: inherit;
  font-size: 20px;
  background: none;
  color: white;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buttonoverride {
  font-family: 'Silkscreen', cursive !important;
  border-radius:0 !important;
}

.fontoverride {
  font-family: 'Silkscreen', cursive !important;
}

.emoji-mart {
  border-radius: 0% !important;
  font-family: 'Silkscreen', cursive !important;
}

.emoji-mart-dark .emoji-mart-search input {
  font-family: 'Silkscreen', cursive !important;
}

.faboverride {
  border-radius: 0% !important;
}

.css-1gkpvma-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Silkscreen', cursive !important;
}

.css-1962ulv-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Silkscreen', cursive !important;
}

.css-vs9g4y-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
}

.css-9mp3xy-MuiPaper-root-MuiAlert-root {
  border-radius: 0px !important;
  font-family: 'Silkscreen', cursive !important;
}

.css-yslrua-MuiTypography-root-MuiAlertTitle-root {
  font-family: 'Silkscreen', cursive !important;
}

.css-18j989v-MuiButtonBase-root-MuiButton-root {
  border-radius: 0px !important;
  font-family: 'Silkscreen', cursive !important;
}

.css-4gd6nn-MuiPaper-root-MuiAlert-root {
  font-family: 'Silkscreen', cursive !important;
}

.css-qpr2q6-MuiButtonBase-root-MuiFab-root {
  border-radius: 0px !important;
}

.video-grid video {
  border-radius: 0px !important;
}

.relay-receiver html, .relay-receiver body, .relay-receiver div, .relay-receiver span, .relay-receiver applet, .relay-receiver object, .relay-receiver iframe, .relay-receiver h1, .relay-receiver h2, .relay-receiver h3, .relay-receiver h4, .relay-receiver h5, .relay-receiver h6, .relay-receiver p, .relay-receiver blockquote, .relay-receiver pre, .relay-receiver a, .relay-receiver abbr, .relay-receiver acronym, .relay-receiver address, .relay-receiver big, .relay-receiver cite, .relay-receiver code, .relay-receiver del, .relay-receiver dfn, .relay-receiver em, .relay-receiver img, .relay-receiver ins, .relay-receiver kbd, .relay-receiver q, .relay-receiver s, .relay-receiver samp, .relay-receiver small, .relay-receiver strike, .relay-receiver strong, .relay-receiver sub, .relay-receiver sup, .relay-receiver tt, .relay-receiver var, .relay-receiver b, .relay-receiver u, .relay-receiver i, .relay-receiver center, .relay-receiver dl, .relay-receiver dt, .relay-receiver dd, .relay-receiver ol, .relay-receiver ul, .relay-receiver li, .relay-receiver fieldset, .relay-receiver form, .relay-receiver label, .relay-receiver legend, .relay-receiver table, .relay-receiver caption, .relay-receiver tbody, .relay-receiver tfoot, .relay-receiver thead, .relay-receiver tr, .relay-receiver th, .relay-receiver td, .relay-receiver article, .relay-receiver aside, .relay-receiver canvas, .relay-receiver details, .relay-receiver embed, .relay-receiver figure, .relay-receiver figcaption, .relay-receiver footer, .relay-receiver header, .relay-receiver hgroup, .relay-receiver menu, .relay-receiver nav, .relay-receiver output, .relay-receiver ruby, .relay-receiver section, .relay-receiver summary, .relay-receiver time, .relay-receiver mark, .relay-receiver audio, .relay-receiver video {
  right: inherit !important;
}

.hDotyT {
  border-radius: 0px !important;
}

.relay-receiver html, .relay-receiver body, .relay-receiver div, .relay-receiver span, .relay-receiver applet, .relay-receiver object, .relay-receiver iframe, .relay-receiver h1, .relay-receiver h2, .relay-receiver h3, .relay-receiver h4, .relay-receiver h5, .relay-receiver h6, .relay-receiver p, .relay-receiver blockquote, .relay-receiver pre, .relay-receiver a, .relay-receiver abbr, .relay-receiver acronym, .relay-receiver address, .relay-receiver big, .relay-receiver cite, .relay-receiver code, .relay-receiver del, .relay-receiver dfn, .relay-receiver em, .relay-receiver img, .relay-receiver ins, .relay-receiver kbd, .relay-receiver q, .relay-receiver s, .relay-receiver samp, .relay-receiver small, .relay-receiver strike, .relay-receiver strong, .relay-receiver sub, .relay-receiver sup, .relay-receiver tt, .relay-receiver var, .relay-receiver b, .relay-receiver u, .relay-receiver i, .relay-receiver center, .relay-receiver dl, .relay-receiver dt, .relay-receiver dd, .relay-receiver ol, .relay-receiver ul, .relay-receiver li, .relay-receiver fieldset, .relay-receiver form, .relay-receiver label, .relay-receiver legend, .relay-receiver table, .relay-receiver caption, .relay-receiver tbody, .relay-receiver tfoot, .relay-receiver thead, .relay-receiver tr, .relay-receiver th, .relay-receiver td, .relay-receiver article, .relay-receiver aside, .relay-receiver canvas, .relay-receiver details, .relay-receiver embed, .relay-receiver figure, .relay-receiver figcaption, .relay-receiver footer, .relay-receiver header, .relay-receiver hgroup, .relay-receiver menu, .relay-receiver nav, .relay-receiver output, .relay-receiver ruby, .relay-receiver section, .relay-receiver summary, .relay-receiver time, .relay-receiver mark, .relay-receiver audio, .relay-receiver video {
  font-family: 'Silkscreen', cursive !important;
}